<div class="demo">
  <h1> Concept Title</h1>
  <div class="header"> 
     <div>Aditya Ranjan</div>
     <div>9th May,2020</div>
     <div class="stats">
      <label for="status" class="selectstatus">Status</label>

      <select id="status">
        <option value="done"></option>
        <option value="inprogress">InProgress</option>
        <option value="done">Done</option>
      </select>
  </div>
  <div>
    <label for="status" class="selectstatus">Please</label>

      <select id="status">
        <option value="done"></option>
        <option value="inprogress">Incomplete</option>
        <!-- <option value="done">Done</option>  -->
      </select>
  </div>
  </div>

  <div class="tabs">
    <mat-tab-group>
      <mat-tab label="OverViews"> OverViews </mat-tab>
      <mat-tab label="Deliveries"> Deliveries </mat-tab>
      <mat-tab label="Team"> 
        <div class="teamName"><span>Add Person to your Team</span></div>
        <div class="tabIndex">
        <div class=" role">
         <span class="text">Select</span> 
         <div class="form-feild">
         <mat-form-field>
          <mat-label></mat-label>
          <mat-select>
            <mat-option ></mat-option>              
          </mat-select>
        </mat-form-field>
      </div>
        
        <div class="text"> 
          <label for="status" class="selectstatus">as role</label>   
          <select id="status">
            <option value="done"></option>
            <option value="inprogress">InProgress</option>
            <option value="done">Done</option>
          </select>
      </div> 
    </div>
      <button mat-raised-button color="primary" class="save">Save</button>
      <button mat-stroked-button color="accent" class="cancel">Cancel</button>     
        </div>
      </mat-tab>
      <mat-tab label="Feedback"> Feedback </mat-tab>
      <mat-tab label="History"> History </mat-tab>
    </mat-tab-group>
  </div>
</div>
